{% extends 'base/base.html' %}

{% block content %}
    <h1>Детали бага {{ bug.title }}</h1>
    <p>Статус бага: <span style="color: red;">{{ bug.status }}</span></p>
    <p>Дата возникновения бага: <span style="color: red;">{{ bug.created_at }}</span></p>
    <p><strong>Подробнее:</strong></p>
    <p>Проект: <a href="{{ project_url }}">{{ bug.project.name }}</a></p>
    <p>Описание проекта: {{ bug.project.description }}</p>
    <p>Задача: <a href="{{ task_url }}">{{ bug.task.name }}</a></p>
    <p>Описание задачи: {{ bug.task.description }}</p>
    <p>Статус задачи: {{ bug.task.status }}</p>
{% endblock %}